/*////////////////////// RULES ////////////////// */
:root{
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Prompt', sans-serif;
  color: var(--text-color);
  --text-color: #FFFFFF;
  --border-color: #F1F1F1;
  --bg-color: #0E1218;
  --container-bg-color: #000000;
  --border-img-color: #8257E5;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-color);
}
.container{
  border-radius: 50px;
  background-color: var(--container-bg-color);
  padding: 2rem 1rem;
}
.card{
  background-color: var(--bg-color);
  border-radius: 50px;
  overflow-x: hidden;
}
/*////////////////////////////////
              HEADER
////////////////////////////////*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2.4rem;
  padding: 2rem 0 1rem 2rem;
}
header .boxInfoHeader{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logoHeader{
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 1rem;
  margin: 0 1.5rem 0 0;
}
header img{
  width: 3.5rem;
  height: 3.5rem;
}
/*////////////////////////////////
              MENU
////////////////////////////////*/
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 2;
}
.ballA,
.ballB,
.ballC{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.ballB{
  margin-block: 4px;
}
/*////////////////////////////////
              NAV
////////////////////////////////*/
nav{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  z-index: 1;
  padding: 6.6rem;
  text-align: center;
  font-size: 2.4rem;
  background-color: #8257e56e;
  backdrop-filter: blur(5px);
  transition: right 0.5s;
}
nav form{
  display: flex;
  flex-direction: column;
}
form label{
  padding-bottom: 3rem;
}
form input{
  margin-bottom: 1rem;
  border-radius: 50px;
  border: none;
  height: 3rem;
  padding-inline: 1rem;
}
#submit{
  opacity: 0;
  background-color: #311968;
  color: var(--text-color);
  transition: background 0.5s, opacity 0.5s;
}
#submit:hover{
  background-color: #1c0d3f;
}
input:not(:placeholder-shown) + #submit{
  opacity: 1;
}
.on{
  position: absolute;
  right: 100%;
}
/*////////////////////////////////
              MAIN
////////////////////////////////*/
main{
  position: relative;
  text-align: end;
  padding: 0 1rem 1rem 1rem;
}
main > .picContainer{
  width: 30rem;
  height: 30rem;
  border: 10px solid var(--border-img-color);
  border-radius: 50%;
  margin: 3rem 0 6rem 3rem;
}
.picContainer > img{
  width: 100%;
  border-radius: 50%;
}
ul{
  position: absolute;
  bottom: 0;
  padding: 2rem;
  border-radius: 40px;
  background: linear-gradient(180deg, #000000 3.65%, #464545b8 53.65%, #3e38386b 100%);
}
ul li{
  display: flex;
  align-items: center;
  line-height: 2.4rem;
}
li p{
  margin-left: 1rem;
}
/*////////////////////////////////
             FOOTER
////////////////////////////////*/
footer{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3rem 2rem 3rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
footer img{
  width: 3rem;
  margin: 0 1rem 0 0;
}

/*////////////////////////////////
          SCRENN 375px
////////////////////////////////*/

@media (min-width: 375px){

  main > .picContainer{
    width: 35rem;
    height: 35rem;
    margin: 3rem 0 6rem 4.5rem;
  }
  ul{
    margin-left: 1rem;
  }
}

/*////////////////////////////////
          SCRENN 425px
////////////////////////////////*/

@media (min-width: 425px){

  main > .picContainer{
    width: 38rem;
    height: 38rem;
    margin: 3rem 0 6rem 7rem;
  }
}
/*////////////////////////////////
          SCRENN 450px
////////////////////////////////*/

@media (min-width: 450px){

  /*///////// NAV /////////////*/
  
  nav{ 
    font-size: 3rem;
  }
  form input{
    height: 4rem;
    font-size: 2rem;
  }
  #submit{
    height: 4rem;
  }
  
  /*///////// MAIN /////////////*/

  main > .picContainer{
    margin: 3rem 0 6rem 10rem;
  }
  li p{
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  li:nth-child(4) img{
    height: 2rem;
  }
  li img{
    width: 2.5rem;
  }
}

/*////////////////////////////////
          SCRENN 480px
////////////////////////////////*/

@media (min-width: 480px){

  .container{
    width: 375px;
    margin: auto;
  }
  .menu{
    display: none;
  }

  /*//////// MAIN //////////*/

  main > .picContainer{
    margin: 3rem 0 6rem 4rem;
  }
 
  /*/////////// NAV /////////*/

  nav{
    position: absolute;
    top: auto;
    bottom: 0;
    height: 0;
    padding: 0 6.6rem 0 6.6rem;
    background-color: transparent;
    backdrop-filter: none;
  }
}

/*////////////////////////////////
          SCRENN 750px
////////////////////////////////*/

@media (min-width: 750px){
  
  .container{
    width: 400px;
    margin: 2rem 0 0 2rem ;

  }
  
  /*//////////// MENU //////////*/

  .menu{
    display: none;
  }

  /*//////////// NAV ///////////////*/
  
  nav{
    top: 0;
    bottom: auto;
    right: 0;
    width: 48%;
    height: auto; 
    padding: 6rem;
    font-size: 3rem;
    background-color: transparent;
    backdrop-filter: none;
  }

  /*/////////////// MAIN //////////////*/
  
  main > img{
    margin: 3rem 0 6rem 7rem;
  }
  li:nth-child(4) img{
    height: 2rem;
  }
}