/*////////////////////// RULES ////////////////// */
:root{
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Prompt', sans-serif;
  color: var(--text-color);
  --text-color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: #0E1218;
}
header{
  display: flex;
  align-items: center;
}
.logoHeader{
  text-align: center;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  padding: 1rem;
}
header img{
  width: 3.5rem;
  height: 3.5rem;
}